* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: rgb(3, 88, 3);
  color: whitesmoke;
  padding: 15px 15px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;

  background-color: black;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  gap: 60px;
}

#user-score,
#comp-score {
  font-size: 50px;
}

.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#msg {
  background-color: rgb(3, 88, 3);
  color: whitesmoke;
  height: 40px;
  font-size: 30px;
  padding: 20px 20px;
  display: inline;
  border-radius: 10px;
}
