* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: rgb(3, 88, 3);
  color: whitesmoke;
  padding: 15px 15px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;

  background-color: black;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
